.card {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: white;
    border-radius: 8px;
}

.card__settings {
    display: flex;
    flex-direction: column;
}

.card__header {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: flex;
    flex: 1;
    background-color: #0C2633;
    color: #EFEFEF;
    padding: 5px;
    padding-left: 1em;
}

.card__header > h1 {
    font-size: 12pt;
}

.card__container > h3 {
    font-size: 14pt;
}

.card__bodyWrapper > span, .card__settings > span {
    display: flex;
    flex-direction: column;
    color: #7E7E7E;
    align-items: flex-end;
    opacity: 0.7;
}

.card__add > strong {
    font-size: 12pt;
}

.card__container {
    padding: 20px;
    height: 27em;
}

.card__body > input {
    width: 100%;
    height: 15px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #EFEFEF;
    border-radius: 4px;
    resize: none;
  }

.card__body > textarea {
    width: 100%;
    height: 75px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #EFEFEF;
    border-radius: 4px;
    resize: none;
  }

  .card__body > textarea:focus, .card__body > input:focus {
      outline: none !important;
      border: 1px solid #ccc;
  }
  .card__addItems {
      display: flex;
  }

  .card__addItems > *{
      background-color: #efefef;
      margin-left: 5px;
      padding: 3px;
      border-radius: 5px;
      cursor: pointer;
  }

  .card__addItems > *:hover {
      background-color: rgb(226, 226, 226);
  }

  .card__add {
      display: flex;
  }

  .card__add > strong{
    margin-right: 20px;
}

.card__buttonsWrapper {
    margin-top: 1em;
    display: flex;
    gap: 0.5em;
}

.card__buttonsWrapper > button {
    padding: 5px;
    width: 5em;
    font-weight: 500;
    color: #EFEFEF;
    cursor: pointer;
    opacity: 0.7;
    border-radius: 5px;
    border: none;
}

.card__buttonsWrapper > button:focus {
    outline: none !important;
    border: 1px solid #575757;
}

.card__cancelButton {
    background-color: #7E7E7E;
}

.card__saveButton {
    background-color: red;
}

.card__cancelButton:hover {
    opacity: 0.9;
}

.card__saveButton:hover {
    opacity: 0.9;
}
