.emailConfirmed {
    background-color:  #0C2633;
    display: flex;
    flex: 1;
    height: 100vh;
    color: #EFEFEF;
    flex-direction: column;
    align-items: center;
}

.emailConfirmed__container {
    display: flex;
    flex-direction: column;
    place-items: center;
    margin: 0.5em;
}

.emailConfirmed__container > a {
    margin-top: 1em;
}

.emailConfirmed__container > a > span {
    opacity: 0.5;
    
}

.emailConfirmed__message {
    max-width: 30em;
    border: 0.5px solid rgba(255,255,255,0.5);
    padding: 1em;
    color: #EFEFEF;
}

.emailConfirmed__message > h3 {
    font-weight: 500;
    font-size: 16pt;
}

.emailConfirmed__container > img {
    justify-content: center;
    max-width: 20em;
    margin-bottom: 1em;
}




.emailConfirmed__header {
    display: flex;
    background-color: #0C2633;
}

.emailConfirmed__header > img {
    display: flex;
    margin-left: -600px;
    margin-bottom: 74px;
    margin-top: 20px;
    width: 120px;
}

@media screen and (max-width: 1200px) {
    .emailConfirmed__header > img {
        margin-left: -400px;
    }
  }


@media screen and (max-width: 900px) {
    .emailConfirmed__header > img {
        margin-left: 0;
    }
  }