.sidebar {
    background-color: #0C2633;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 50px;
    align-items: center;
    position: relative;
    justify-content: space-between; 
}

.sidebar__iconWrapper {
    display: flex;
    flex-direction: column;
}

.sidebar > img {
    display: flex;
    object-fit: contain;
    width: 100%;
    margin-bottom: -400px;
}

.MuiSvgIcon-root {
    margin-bottom: 20px;
    color: #7E7E7E;
}
.MuiSvgIcon-root:hover {
    color: #EFEFEF;
}

.MuiSvgIcon-root:active {
    color: #EFEFEF;
}



